extends layout

block content
    h1= title

    if (toShow == null)
        h2 No instance to delete
    else
        -let birdid = toShow._id
        -let bird_name = toShow.bird_name
        -let color = toShow.color
        -let lifespan = toShow.lifespan
        -let actionid = "/resource/birdDelete/" + birdid


        script.
            let actionid = "#{actionid}"
        div
            div.row
                div(class='birdAttr mr-3') bird ID is:
                div #{birdid}
            div.row
                div(class='birdAttr mr-3') bird_name is:
                div #{bird_name}
            div.row
                div(class='birdAttr mr-3') color is:
                div #{color}
            div.row
                div(class='birdAttr mr-3') lifespan is:
                div #{lifespan}
        button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
        button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
        function cancel() {
            // Go back to the home page for the bird collection
            window.location.href = '/birds'
            }
    script.
        function deleteOnid() {
            console.log("starting delete")

            // delete first
            fetch(actionid, {
                method: 'DELETE',
                // Don't need a body for the delete
            })
            .then((resp) => {
                return resp.text(); // or resp.text() or whatever the server sends
            })
            .then((body) => {
                alert("Delete succeded")
                window.location.href = '/birds'
                // TODO handle body
            })
            .catch((error) => {
                // TODO handle error
                alert("Delete failed " + error)
            });
        }
