extends layout

block content
  h1= title
  p welcome to #{title}
  - let item = results
 
   div(class = "container-fluid")
     div(class="row")
       each item, index in results
         div(class="col-sm-2" onclick=`buy(${index})`)
           ul
             li  #{item.bird_name}
             li  #{item.color}
             li  #{item.lifespan} years
             

       script.
         function buy(index){
           alert(' purchased item will be ' + index);
         }

  